:root {
  /* Fonts */
  --body-font-family: roboto, roboto-fallback, sans-serif;
  --heading-font-family:
    roboto-condensed, roboto-condensed-fallback, sans-serif;

  /* Layout Spacing */
  --nav-height: 64px;
}

/* =========================================================
   2. GLOBAL RESETS & TYPOGRAPHY
   ========================================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: var(--heading-font-size-xxl);
}
h2 {
  font-size: var(--heading-font-size-xl);
}
h3 {
  font-size: var(--heading-font-size-l);
}
h4 {
  font-size: var(--heading-font-size-m);
}
h5 {
  font-size: var(--heading-font-size-s);
}
h6 {
  font-size: var(--heading-font-size-xs);
}

p {
  font-size: 13px;
}

p {
  font-size: 13px;
}

code,
pre {
  font-size: var(--body-font-size-s);
}
